In [26]:
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.utils import resample
from sklearn.metrics import accuracy_score
import pandas as pd
import numpy as np
from sklearn import metrics

In [4]:
dataset = pd.read_excel('Auto.xlsx')
dataset.head(5)

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [6]:
X = dataset["horsepower"]
y = dataset["mpg"]

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = 0.7, random_state = 42)

In [11]:
X_train = X_train.values.reshape((len(X_train.values), 1))
y_train = y_train.values.ravel()
X_test = X_test.values.reshape((len(X_test.values), 1))
y_test = y_test.values.ravel()

In [28]:
# train model
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
print(model.coef_, model.intercept_, metrics.mean_absolute_error(y_test, y_pred), metrics.mean_squared_error(y_test, y_pred))

[-0.16634926] 41.08483563976211 4.04332528847815 24.556123551125154

In [25]:
# bootstrap predict coefficient and intercept
n_iterations = 1000; coef_list = []; intercept_list = []
for i in range(n_iterations):
    X_bs, y_bs = resample(X_train, y_train, replace=True)
    # make predictions
    # y_hat = model.predict(X_bs)
    model = LinearRegression()
    each_bootstrap_model = model.fit(X_bs, y_bs)
    coef_list.append(each_bootstrap_model.coef_)
    intercept_list.append(each_bootstrap_model.intercept_)
print(np.mean(coef_list), np.mean(intercept_list))

-0.1665989465461824 41.09321586175427

In [31]:
# bootstrap prediction MAE, MSE
model = LinearRegression()
model.fit(X_train, y_train)
#######
n_iterations = 1000; MAE_list = []; MSE_list = []
for i in range(n_iterations):
    X_bs, y_bs = resample(X_train, y_train, replace=True)
    # make predictions
    y_hat = model.predict(X_bs)
    MAE_list.append(metrics.mean_absolute_error(y_bs, y_hat))
    MSE_list.append(metrics.mean_squared_error(y_bs, y_hat))
print(np.mean(MAE_list), np.mean(MSE_list))

3.751474048785132 23.89737497911774